.left-star {
    animation: leftStarAnimation 800ms linear;
}

@keyframes leftStarAnimation {
    from {
        opacity: 0;
        transform: translateX(10rem) translateY(5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

.right-star {
    animation: rightStarAnimation 800ms linear;
}

@keyframes rightStarAnimation {
    from {
        opacity: 0;
        transform: translateX(-10rem) translateY(-5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}
