@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Arial';
    font-style: normal;
    src: url('/public/fonts/bpg_arial_2009.ttf') format('truetype');
}

@layer utilities {
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #eaeaea inset;
    }

    input:-webkit-autofill:focus {
        -webkit-box-shadow: transparent !important;
        -webkit-text-fill-color: #333;
    }

    :root input {
        filter: unset;
    }

    .tips-overflow::-webkit-scrollbar {
        width: 12px;
    }

    .tips-overflow::-webkit-scrollbar-track {
        display: none;
    }

    input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
    }

    input[type='radio'] {
        accent-color: #232323;
    }

    .opacity-animation {
        animation: opacityAnimation 200ms linear;
    }

    @keyframes opacityAnimation {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}
